* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto;
  color: #151515;  
}

.app--home {
  background:
  linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
  url('./assets/Background/superhero-collage-fvoxfxdq1dqv9e40.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app--bookmarks {
    background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('./assets/Background/marvel-ipad-oxalwk0fh7s1xwog.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app-main {
  overflow: auto;
  padding: 1rem 1rem 4.5rem;
}

.cards {
  display: flex;
  gap: 1rem;
}

.tag {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 999px;
}

.bookmark--section {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
