*{
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 3rem;
    justify-content: space-between;
    
    background: #ffffff;
    border: 0px;
    border-radius: 25px;    
    min-height: 200px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);    
}

.card__bookmark {
    position: absolute;
    top: -1rem;
    right: -.2rem;

    background: transparent;
    color: #ec1d24;
    border: none;
    cursor: pointer;
    z-index: 0;
}

.card__bookmark-icon {
    width: 72px;
    height: 72px;
    fill: currentColor;
}

.card__bookmark:hover,
.card__bookmark:focus-visible {
  transform: scale(1.08);
  background: transparent;
  outline: none;
}

.card__bookmark[aria-pressed="true"] {
  color: #0bdc1f;
  background: transparent;
  outline: none;
}

.card__question {
    margin: 0 0 0.5rem;
    align-self: center;    
}
.card__answer {
    margin: 0 auto 1rem 0;
    align-items: center;
    font-weight: normal;
    color: #151515;
}


.card__tags {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}