.app-nav {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90px;
  background: #ec1d24;
  align-items: center;
  justify-content: space-around;
}

.app-nav__icon {
  width: 52px;
  height: 52px;
}

.app-nav__link {
    filter: brightness(0) invert(1);
}




